<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departures board</title>
    <style>
        body {
            background-color: #D9CCC1;
            color: #024059;
            font-size: 44px;
            font-family: "Liberation Mono", monospace;
        }
        table {
            width:100%;
        }
        th {
            background-color: #024059;
            color: #D9CCC1;
            text-align: left;
        }
        .time {
            text-align:center;
        }
    </style>
</head>
<body>
<p class="time">{time}</p>
<table>
    <tr>
    <th>Departure type</th>
    <th>Line</th>
    <th>Scheduled</th>
    <th>Display</th>
    </tr>
    {rows}
</table>
</body>
</html>